* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: #222222;
}

a {
    color: #ffee66;

}

a:hover {
    color: #eeb70c;
}

#sidebar {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 100px 100px;
    width: 15rem;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

nav {
    margin-bottom: 100px;
    font-size: 30px;
}

.logos {
    width: 45px;
    height: 45px;
    opacity: 80%;
}

.logos:hover {
    opacity: 100%;
}

.main-section {
    width: 550px;
    margin: 0 50px 50px auto;
}

#about {
    margin-top: 50px;
}

.multi-paragraph-exclude-last {
    margin-bottom: 10px;
}

/* Responsive Y */
@media (max-height: 580px) and (min-width: 830px) {
     #sidebar {
        font-size: 15px;
    }

    #navbar {
        font-size: 20px;
    }
}

@media (max-height: 535px) and (min-width: 830px) {
    #sidebar {
        font-size: 12px;
    }
}

@media (max-height: 515px) and (min-width: 830px) {
    #name {
        font-size: 7px;
        overflow: hidden;
    }

    #navbar {
        font-size: 15px;
        overflow: hidden;
    }
}

@media (max-height: 59px) {
    #sidebar { 
        display: none;
    }
}

/* Responsive X */
@media (max-width: 920px) {
    #sidebar {
        margin-left: 10px;
    }
}

@media (max-width: 830px) {
    #sidebar {
        display: flex;
        margin: 0 0;
        width: 100%;
        height: 70px;
        background-color: #392f2f;
    }

    #name {
        position: absolute;
    }

     #navbar {
        display: block;
    }

    nav > ul {
        display: flex;
        position: absolute;
        top: 10px;
        right: 0;
        margin-right: 40px;
        gap: 20px;
        font-size: 21px;
    }

    #contact {
        display: none;
    }

    main {
        margin-top: 40px;
    }
}

@media (max-width: 650px) {
    #sidebar {
        overflow: hidden;
    }

    nav > ul {
        margin: 30px;
        font-size: 20px;
    }

    #name {
        font-size: 15px;
    }

    #comp-sci-title {
        display: none;
    }

    main {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-height: 180px) {
    #sidebar { 
        display: none;
    }

    main {
        margin-top: 0;
    }
}